# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-log.txt
pip-delete-this-directory.txt
status.egg
eggs-directory.json
.venv/
venv/
ENV/
env.bak/
venv.bak/

# Project Specific
database/*.db
database/*.sqlite3
dataset/
encodings/*.pkl
reports/*.csv
reports/*.png
.temp/
active_sessions.json
.idea/
.vscode/
*.log
